<div class="dw-block-head">
  <h3>{{localize "DOLMENWOOD.UI.XPSection"}}</h3>
</div>

<div class="dw-grid-4">
  <div class="dw-field dw-field--inline">
    <label>{{localize "DOLMENWOOD.UI.XP"}}</label>
    <input type="number" name="dw.meta.xp" value="{{ctx.dw.meta.xp}}" class="input--md" />
  </div>
  <div class="dw-field dw-field--inline">
    <label>{{localize "DOLMENWOOD.UI.Level"}}</label>
    <input type="number" name="dw.meta.level" value="{{ctx.dw.meta.level}}" class="input--md" />
  </div>
  <div class="dw-field dw-field--inline">
    <label>{{localize "DOLMENWOOD.UI.NextLevel"}}</label>
    <input
      type="number"
      name="dw.meta.nextLevel"
      value="{{ctx.dw.meta.nextLevel}}"
      class="input--md"
    />
  </div>
  <div class="dw-field dw-field--inline">
    <label>{{localize "DOLMENWOOD.UI.Modifier"}}</label>
    <input
      type="number"
      name="dw.meta.modifier"
      value="{{ctx.dw.meta.modifier}}"
      class="input--md"
    />
  </div>
</div>