<div class="dw-hp">
  <div class="dw-hp__current">
    <label>{{localize "DOLMENWOOD.UI.HP"}}</label>
    {{#if ctx.view.actor.hp.hasCurrent}}
      <input
        class="dw-number-input"
        name="{{ctx.view.actor.hp.nameCurrent}}"
        type="number"
        value="{{ctx.view.actor.hp.current}}"
      />
    {{else}}
      <input
        class="dw-number-input"
        type="number"
        value="{{ctx.view.actor.hp.current}}"
        disabled
        data-tooltip="{{localize 'DOLMENWOOD.UI.PathNotDetected.HPCurrent'}}"
      />
    {{/if}}
  </div>

  <div class="dw-hp__max">
    <label>{{uppercase (localize "DOLMENWOOD.UI.MaxHP")}}</label>
    {{#if ctx.view.actor.hp.hasMax}}
      <input
        class="dw-number-input"
        name="{{ctx.view.actor.hp.nameMax}}"
        type="number"
        value="{{ctx.view.actor.hp.max}}"
      />
    {{else}}
      <input
        class="dw-number-input"
        type="number"
        value="{{ctx.view.actor.hp.max}}"
        disabled
        data-tooltip="{{localize 'DOLMENWOOD.UI.PathNotDetected.HPMax'}}"
      />
    {{/if}}
  </div>
</div>
