<div class="dw-equipment">
  <h2>{{localize "DOLMENWOOD.UI.Equipment"}}</h2>
  <div class="dw-equipment__wrapper">
    <div class="dw-equipment__left">
      <div class="dw-equipment__block dw-equipment__block--top dw-equipment__block--small">
        <h3>Tiny Items</h3>
        <div class="dw-equipment__tiny-display">
          <div class="dw-equipment__tiny-content">{{{nl2br ctx.dw.meta.equipment.tinyItems}}}</div>
        </div>
        <textarea class="dw-equipment__textarea" rows="3" name="dw.meta.equipment.tinyItems" style="display: none;">{{ctx.dw.meta.equipment.tinyItems}}</textarea>
      </div>
      <div class="dw-equipment__block dw-equipment__block--bottom">
        <h3>Equipped Items</h3>
        <div class="dw-equipment__fields dw-equipment__fields--bottom">
          {{#each ctx.dwUi.equipment.equippedFields as |field|}}
            <div class="dw-field">
              <span class="editable-field" data-field="{{field.name}}" {{#unless field.value}}style="display:none;"{{/unless}}>{{field.value}}</span>
              <input
                id="{{field.id}}"
                class="edit-input"
                name="{{field.name}}"
                value="{{field.value}}"
                placeholder="{{field.placeholder}}"
                {{#if field.value}}style="display:none;"{{/if}}
              />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="dw-equipment__block dw-equipment__block--right">
      <h3>Stowed Items</h3>
      <div class="dw-equipment__fields dw-equipment__fields--right">
        {{#each ctx.dwUi.equipment.stowedFields as |field|}}
          <div class="dw-field">
            <span class="editable-field" data-field="{{field.name}}" {{#unless field.value}}style="display:none;"{{/unless}}>{{field.value}}</span>
            <input
              id="{{field.id}}"
              class="edit-input"
              name="{{field.name}}"
              value="{{field.value}}"
              placeholder="{{field.placeholder}}"
              {{#if field.value}}style="display:none;"{{/if}}
            />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
