<div class="dw-equipment">
  <h2>{{localize "DOLMENWOOD.UI.Equipment"}}</h2>
  <div class="dw-equipment__wrapper">
    <div class="dw-equipment__left">
      <div class="dw-equipment__block dw-equipment__block--top">
        <h3>{{localize "DOLMENWOOD.UI.TinyItems"}}</h3>
        <textarea
          id="dw-meta-equipment-tiny-items"
          name="dw.meta.equipment.tinyItems"
          class="dw-equipment__tiny-input"
          rows="4"
        >{{~ctx.dw.meta.equipment.tinyItems~}}</textarea>
      </div>
      <div class="dw-equipment__block dw-equipment__block--bottom">
        <h3>{{localize "DOLMENWOOD.UI.EquippedItems"}}</h3>
        <div class="dw-equipment__fields dw-equipment__fields--bottom">
          <div class="dw-equipment__row dw-equipment__row--header">
            <div class="dw-equipment__entry dw-equipment__entry--item"></div>
            <div class="dw-equipment__entry dw-equipment__entry--weight">
              <span class="dw-equipment__weight-label">{{localize "DOLMENWOOD.UI.Weight"}}</span>
            </div>
          </div>
          {{#each ctx.dwUi.equipment.equippedFields as |field|}}
            <div class="dw-equipment__row">
              <div class="dw-equipment__entry dw-equipment__entry--item">
                <span class="editable-field" data-field="{{field.name}}" {{#unless field.value}}style="display:none;"{{/unless}}>{{field.value}}</span>
                <input
                  id="{{field.id}}"
                  class="edit-input dw-equipment__item-input"
                  name="{{field.name}}"
                  value="{{field.value}}"
                  {{#if field.value}}style="display:none;"{{/if}}
                />
              </div>
              <div class="dw-equipment__entry dw-equipment__entry--weight">
                <span class="editable-field dw-equipment__weight-value" data-field="{{field.weightName}}" {{#unless field.weightValue}}style="display:none;"{{/unless}}>{{field.weightValue}}</span>
                <input
                  id="{{field.weightId}}"
                  type="number"
                  min="0"
                  step="1"
                  class="edit-input input--md dw-equipment__weight-input"
                  name="{{field.weightName}}"
                  value="{{field.weightValue}}"
                  {{#if field.weightValue}}style="display:none;"{{/if}}
                />
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="dw-equipment__block dw-equipment__block--right">
      <h3>{{localize "DOLMENWOOD.UI.StowedItems"}}</h3>
      <div class="dw-equipment__fields dw-equipment__fields--right">
        <div class="dw-equipment__row dw-equipment__row--header">
          <div class="dw-equipment__entry dw-equipment__entry--item"></div>
          <div class="dw-equipment__entry dw-equipment__entry--weight">
            <span class="dw-equipment__weight-label">{{localize "DOLMENWOOD.UI.Weight"}}</span>
          </div>
        </div>
        {{#each ctx.dwUi.equipment.stowedFields as |field|}}
          <div class="dw-equipment__row">
            <div class="dw-equipment__entry dw-equipment__entry--item">
              <span class="editable-field" data-field="{{field.name}}" {{#unless field.value}}style="display:none;"{{/unless}}>{{field.value}}</span>
              <input
                id="{{field.id}}"
                class="edit-input dw-equipment__item-input"
                name="{{field.name}}"
                value="{{field.value}}"
                {{#if field.value}}style="display:none;"{{/if}}
              />
            </div>
            <div class="dw-equipment__entry dw-equipment__entry--weight">
              <span class="editable-field dw-equipment__weight-value" data-field="{{field.weightName}}" {{#unless field.weightValue}}style="display:none;"{{/unless}}>{{field.weightValue}}</span>
              <input
                id="{{field.weightId}}"
                type="number"
                min="0"
                step="1"
                class="edit-input input--md dw-equipment__weight-input"
                name="{{field.weightName}}"
                value="{{field.weightValue}}"
                {{#if field.weightValue}}style="display:none;"{{/if}}
              />
            </div>
          </div>
        {{/each}}
      </div>
      <div class="dw-equipment__total-weight">
        <label>{{localize "DOLMENWOOD.UI.TotalWeight"}}</label>
        <div class="dw-equipment__total-weight-value" data-total-weight>{{ctx.dwUi.equipment.totalWeight}}</div>
      </div>
    </div>
  </div>
</div>
