<div class="dw-spells">
  <div class="dw-spells__header" data-action="dw-toggle-collapsible-section" aria-expanded="true">
    <h2>{{localize "DOLMENWOOD.UI.Spells"}}</h2>
  </div>

  <div class="dw-spells__scroll">
    {{#unless ctx.dwSpellItems.length}}
      <p class="dw-hint">{{localize "DOLMENWOOD.UI.SpellsDropHint"}}</p>
    {{/unless}}
    {{#if ctx.dwSpellItems.length}}
      <ul class="dw-spells__list">
        {{#each ctx.dwSpellItems as |spell|}}
          <li class="dw-spells__item">
            <button
              type="button"
              class="dw-spells__open"
              data-action="dw-open-item"
              data-item-id="{{spell.id}}"
            >
              <img class="dw-spells__icon" src="{{spell.img}}" alt="" />
              <span class="dw-spells__name">{{spell.name}}</span>
            </button>

            <div class="dw-spells__actions">
              <button
                type="button"
                class="dw-roll dw-spells__action"
                data-action="dw-send-spell-to-chat"
                data-item-id="{{spell.id}}"
                aria-label="Send to chat"
                data-tooltip="Send to chat"
              >
                Chat
              </button>

              {{#if spell.rollFormula}}
                <button
                  type="button"
                  class="dw-roll dw-spells__action dw-spells__action--icon"
                  data-action="dw-roll-spell-formula"
                  data-item-id="{{spell.id}}"
                  data-roll-formula="{{spell.rollFormula}}"
                  aria-label="Roll"
                  data-tooltip="Roll"
                >
                  <i class="fa-solid fa-dice-d20"></i>
                </button>
              {{/if}}

              <button
                type="button"
                class="dw-x ml1"
                data-action="dw-delete-item"
                data-item-id="{{spell.id}}"
                aria-label="{{localize 'DOLMENWOOD.UI.Remove'}}"
                data-tooltip="{{localize 'DOLMENWOOD.UI.Remove'}}"
              >
                &times;
              </button>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="dw-hint">{{localize "DOLMENWOOD.UI.SpellsEmpty"}}</p>
    {{/if}}
  </div>
</div>