<div class="dw-block-head">
  <h2>{{localize "DOLMENWOOD.UI.AbilityScores"}}</h2>
</div>

<div class="dw-abilities">
  {{#each ctx.view.actor.abilities as |a|}}
    <div class="dw-abilities__item">
      <div class="dw-abilities__header">
        <button
          type="button"
          class="dw-abilities__roll-button dw-roll"
          data-action="dw-roll-ability"
          data-label="{{a.label}}"
          data-mod="{{a.mod}}"
        >
          {{a.label}}
        </button>
      </div>

      <div class="dw-abilities__body">
        <div class="dw-abilities__score">
          <div class="dw-abilities__value">
            {{#if a.hasPath}}
              {{numberInput a.value class="dw-abilities__input dw-number-input" name=a.name step=1}}
            {{else}}
              {{numberInput
                a.value
                class="dw-abilities__input dw-number-input dw-abilities__input--disabled"
                step=1
                disabled=true
              }}
            {{/if}}
          </div>
        </div>

        <div class="dw-abilities__modifier" data-tooltip="{{a.title}}">
          <div class="dw-abilities__modifier__label">{{uppercase (localize "DOLMENWOOD.UI.ModShort")}}</div>
          <div class="dw-abilities__modifier__value">
            {{#if a.hasMod}}{{a.modText}}{{/if}}
          </div>
        </div>
      </div>

    </div>
  {{/each}}
</div>
