<div class="player-data">
  <div class="dw-field player-data__name">
    <input
      id="dw-name"
      class="player-data__input"
      name="name"
      placeholder="{{localize 'DOLMENWOOD.UI.Name'}}"
      value="{{ctx.actor.name}}"
    />
  </div>

  <div class="dw-field">
    <input
      id="dw-kindred-class"
      placeholder="{{localize 'DOLMENWOOD.UI.KindredClass'}}"
      class="player-data__input"
      name="dw.player.kindredClass"
      value="{{ctx.dw.player.kindredClass}}"
    />
  </div>

  <div class="dw-field">
    <input
      id="dw-background"
      placeholder="{{localize 'DOLMENWOOD.UI.Background'}}"
      class="player-data__input"
      name="dw.player.background"
      value="{{ctx.dw.player.background}}"
    />
  </div>
  <div class="dw-field">
    <input
      id="dw-alignment"
      placeholder="{{localize 'DOLMENWOOD.UI.Alignment'}}"
      class="player-data__input"
      name="dw.player.alignment"
      value="{{ctx.dw.player.alignment}}"
    />

  </div>
  {{#if ctx.dw.player.affiliationVisible}}
    <div class="dw-field dw-field--optional">
      <input
        id="dw-affiliation"
        placeholder="{{localize 'DOLMENWOOD.UI.Affiliation'}}"
        class="player-data__input"
        name="dw.player.affiliation"
        value="{{ctx.dw.player.affiliation}}"
      />
      <button
        type="button"
        class="player-data__hide"
        data-action="dw-hide-optional-meta-field"
        data-field="affiliation"
        aria-label="{{localize 'DOLMENWOOD.UI.Remove'}}"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  {{/if}}
  {{#if ctx.dw.player.moonSignVisible}}
    <div class="dw-field dw-field--optional">
      <input
        id="dw-moon-sign"
        placeholder="{{localize 'DOLMENWOOD.UI.MoonSign'}}"
        class="player-data__input"
        name="dw.player.moonSign"
        value="{{ctx.dw.player.moonSign}}"
      />
      <button
        type="button"
        class="player-data__hide"
        data-action="dw-hide-optional-meta-field"
        data-field="moonSign"
        aria-label="{{localize 'DOLMENWOOD.UI.Remove'}}"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  {{/if}}
</div>
