<div class="player-data">
  <div class="dw-field player-data__name">
    <input
      id="dw-name"
      class="player-data__input"
      name="name"
      placeholder="{{localize "DOLMENWOOD.UI.Name"}}"
      value="{{ctx.document.name}}"
    />
  </div>

  <div class="dw-field">
    <input
      id="dw-kindred-class"
      placeholder="{{localize "DOLMENWOOD.UI.KindredClass"}}"
      class="player-data__input"
      name="dw.meta.kindredClass"
      value="{{ctx.dw.meta.kindredClass}}"
    />
  </div>

  <div class="dw-field">
    <input
      id="dw-background"
      placeholder="{{localize "DOLMENWOOD.UI.Background"}}"
      class="player-data__input"
      name="dw.meta.background"
      value="{{ctx.dw.meta.background}}"
    />
  </div>
  <div class="dw-field">
    <input
      id="dw-alignment"
      placeholder="{{localize "DOLMENWOOD.UI.Alignment"}}"
      class="player-data__input"
      name="dw.meta.alignment"
      value="{{ctx.dw.meta.alignment}}"
    />

  </div>
  <div class="dw-field">
    <input
      id="dw-affiliation"
      placeholder="{{localize "DOLMENWOOD.UI.Affiliation"}}"
      class="player-data__input"
      name="dw.meta.affiliation"
      value="{{ctx.dw.meta.affiliation}}"
    />
  </div>
  <div class="dw-field">
    <input
      id="dw-moon-sign"
      placeholder="{{localize "DOLMENWOOD.UI.MoonSign"}}"
      class="player-data__input"
      name="dw.meta.moonSign"
      value="{{ctx.dw.meta.moonSign}}"
    />
  </div>
</div>
