<div class="dw-ac-attack">
  <div class="dw-ac-attack__armor">
    <label>{{localize "DOLMENWOOD.UI.ArmorClass"}}</label>
    <input
      class="dw-number-input"
      name="{{ctx.dwCombat.nameAc}}"
      type="number"
      value="{{ctx.dwCombat.ac}}"
    />
  </div>

  <div class="dw-ac-attack__attack">
    <div class="dw-ac-attack__attack-control">
      <div class="dw-ac-attack__attack-button-stack">
        <input
          class="dw-number-input"
          type="text"
          placeholder="1d4"
          name="dw.meta.meleeDamageFormula"
          value="{{ctx.dw.meta.meleeDamageFormula}}"
        />

        <button
          type="button"
          class="attack-btn"
          data-action="dw-roll-attack"
          data-attack="melee"
          data-tooltip="{{localize 'DOLMENWOOD.UI.MeleeAttack'}}"
        >
          <i class="fas fa-sword"></i>
        </button>
      </div>
      <div class="dw-ac-attack__attack-button-modifier">
        <input
          class="dw-number-input"
          type="number"
          placeholder="+0"
          name="dw.meta.meleeAttackBonus"
          value="{{#if ctx.dw.meta.meleeAttackBonus}}{{ctx.dw.meta.meleeAttackBonus}}{{/if}}"
          data-tooltip="{{localize 'DOLMENWOOD.UI.MeleeAttackBonus'}}"
          aria-label="{{localize 'DOLMENWOOD.UI.MeleeAttackBonus'}}"
        />
      </div>


    </div>

    <div class="dw-ac-attack__attack-control">
      <div class="dw-ac-attack__attack-button-stack">
        <input
          class="dw-number-input"
          type="text"
          placeholder="1d4"
          name="dw.meta.missileDamageFormula"
          value="{{ctx.dw.meta.missileDamageFormula}}"
        />

        <button
          type="button"
          class="attack-btn"
          data-action="dw-roll-attack"
          data-attack="ranged"
          data-tooltip="{{localize 'DOLMENWOOD.UI.RangedAttack'}}"
        >
          <i class="fas fa-bow-arrow"></i>
        </button>
      </div>
      <div class="dw-ac-attack__attack-button-modifier">
        <input
          class="dw-number-input"
          type="number"
          placeholder="+0"
          name="dw.meta.missileAttackBonus"
          value="{{#if ctx.dw.meta.missileAttackBonus}}{{ctx.dw.meta.missileAttackBonus}}{{/if}}"
          data-tooltip="{{localize 'DOLMENWOOD.UI.MissileAttackBonus'}}"
          aria-label="{{localize 'DOLMENWOOD.UI.MissileAttackBonus'}}"
        />
      </div>
      </div>


  </div>

</div>
