<div class="dw-combat-bonuses-form">
  <div class="dw-field mb1">
    <label>{{localize "DOLMENWOOD.UI.MeleeAttackBonus"}}</label>
    <input
      class="dw-number-input"
      type="number"
      name="flags.{{moduleId}}.dw.meta.meleeAttackBonus"
      value="{{bonuses.meleeAttackBonus}}"
      data-dtype="Number"
    />
  </div>
  <div class="dw-field mb1">
    <label>{{localize "DOLMENWOOD.UI.MissileAttackBonus"}}</label>
    <input
      class="dw-number-input"
      type="number"
      name="flags.{{moduleId}}.dw.meta.missileAttackBonus"
      value="{{bonuses.missileAttackBonus}}"
      data-dtype="Number"
    />
  </div>
  <div class="dw-field">
    <label>{{localize "DOLMENWOOD.UI.MeleeDamageBonus"}}</label>
    <input
      class="dw-number-input"
      type="number"
      name="flags.{{moduleId}}.dw.meta.meleeDamageBonus"
      value="{{bonuses.meleeDamageBonus}}"
      data-dtype="Number"
    />
  </div>
</div>
