<div class="dw-other-notes">

  <div class="dw-other-notes__header">
    <h3>{{localize "DOLMENWOOD.UI.OtherNotes"}}</h3>
  </div>

  <div class="dw-other-notes__content">
    <div class="dw-other-notes__editor dw-editor">
      {{editor
        ctx.dw.meta.otherNotes
        target="flags.yakov-dolmenwood-sheet.dw.meta.otherNotes"
        button=true
        engine="prosemirror"
        collaborate=false
        owner=ctx.owner
        editable=ctx.editable
      }}
    </div>

    <aside class="dw-other-notes__coins">
      <h3 class="dw-other-notes__coins-title">{{localize "DOLMENWOOD.UI.Coins"}}</h3>

      <div class="dw-other-notes__coins-list">
        <label class="dw-other-notes__coin">
          <input
            type="number"
            min="0"
            step="1"
            name="dw.meta.coins.copper"
            value="{{ctx.dw.meta.coins.copper}}"
            class="dw-other-notes__coin-input dw-number-input"
          />
          <span class="dw-other-notes__coin-label">{{localize "DOLMENWOOD.UI.Copper"}}</span>
        </label>

        <label class="dw-other-notes__coin">
          <input
            type="number"
            min="0"
            step="1"
            name="dw.meta.coins.silver"
            value="{{ctx.dw.meta.coins.silver}}"
            class="dw-other-notes__coin-input dw-number-input"
          />
          <span class="dw-other-notes__coin-label">{{localize "DOLMENWOOD.UI.Silver"}}</span>
        </label>

        <label class="dw-other-notes__coin">
          <input
            type="number"
            min="0"
            step="1"
            name="dw.meta.coins.gold"
            value="{{ctx.dw.meta.coins.gold}}"
            class="dw-other-notes__coin-input dw-number-input"
          />
          <span class="dw-other-notes__coin-label">{{localize "DOLMENWOOD.UI.Gold"}}</span>
        </label>

        <label class="dw-other-notes__coin">
          <input
            type="number"
            min="0"
            step="1"
            name="dw.meta.coins.pellucidium"
            value="{{ctx.dw.meta.coins.pellucidium}}"
            class="dw-other-notes__coin-input dw-number-input"
          />
          <span class="dw-other-notes__coin-label">{{localize "DOLMENWOOD.UI.Pellucidium"}}</span>
        </label>
      </div>
    </aside>
  </div>
</div>
