<div class="dw-save-throws">
  <div class="dw-block-head">
    <h2>{{localize "DOLMENWOOD.UI.SaveTargets"}}</h2>
  </div>

  <div class="dw-saves">
    {{#each ctx.dwSavesList as |s|}}
      <div class="dw-save">
        {{#if s.rollable}}
          <button
            type="button"
            class="dw-roll mb"
            style="--mb: 0.3rem;"
            data-action="dw-roll-save"
            data-key="{{s.key}}"
            data-tooltip="{{lookup ctx.dwUi.saveTooltips s.key}}"
          >{{uppercase s.label}}</button>
        {{else}}
          <div
            class="dw-roll-placeholder dw-saves__info"
            data-tooltip="{{localize 'DOLMENWOOD.UI.NotRolledHere'}}"
          >{{uppercase s.label}}</div>
        {{/if}}

        {{#if s.rollable}}
          <input
            class="dw-target dw-number-input"
            name="dw.saves.{{s.key}}"
            type="number"
            value="{{s.value}}"
            data-key="{{s.key}}"
            data-tooltip="{{lookup ctx.dwUi.saveTooltips s.key}}"
          />
        {{else}}
          <input
            class="dw-target dw-number-input"
            name="dw.saves.{{s.key}}"
            type="number"
            value="{{s.value}}"
            data-tooltip="{{lookup ctx.dwUi.saveTooltips s.key}}"
          />
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
