<div class="dw-field">
  <label>AC</label>
  {{#if ctx.dwCombat.hasAc}}
    <input name="{{ctx.dwCombat.nameAc}}" type="number" value="{{ctx.dwCombat.ac}}" />
  {{else}}
    <input type="number" value="{{ctx.dwCombat.ac}}" disabled title="AC path not detected." />
  {{/if}}

  <label>Attack</label>
  <input
    name="dw.combat.attack"
    type="text"
    value="{{dw.combat.attack}}"
    placeholder="+1 melee / +2 missile"
  />
</div>