<div class="dw-block-head">
    <h2>
        {{localize "DOLMENWOOD.UI.KindredClassTraits"}}
        <button type="button" class="dw-edit-btn" data-action="dw-toggle-kindred-traits" title="{{localize "DOLMENWOOD.UI.EditTraits"}}">
            {{localize "DOLMENWOOD.UI.Edit"}}
        </button>
    </h2>
</div>
<div class="dw-kindred-traits-display">
    <div class="dw-traits-content">{{ctx.dw.meta.kindredClassTraits}}</div>
</div>
<textarea name="dw.meta.kindredClassTraits" class="dw-kindred-traits-textarea" rows="3" style="display: none;">{{ctx.dw.meta.kindredClassTraits}}</textarea>
