<div class="dw-movement">

  <div class="dw-movement__item">
    <h2>{{localize "DOLMENWOOD.UI.Movement"}}</h2>
  </div>

  <div class="dw-movement__item">

    <div class="dw-movement__label">{{localize "DOLMENWOOD.UI.Speed"}}</div>
    <input
      class="dw-movement__input"
      name="dw.movement.speed"
      type="number"
      value="{{ctx.dw.movement.speed}}"
    />
  </div>

  <div class="dw-movement__item">
    <div class="dw-movement__label">{{localize "DOLMENWOOD.UI.Exploring"}}</div>
    <input
      class="dw-movement__input"
      name="dw.movement.exploring"
      type="number"
      value="{{ctx.dw.movement.exploring}}"
    />
  </div>

  <div class="dw-movement__item">
    <div class="dw-movement__label">{{localize "DOLMENWOOD.UI.Overland"}}</div>
    <input
      class="dw-movement__input"
      name="dw.movement.overland"
      type="number"
      value="{{ctx.dw.movement.overland}}"
    />
  </div>
</div>
