<div class="dw-field">
  <label>Name</label>
  <input name="name" value="{{actor.name}}" />
</div>

<div class="dw-field">
  <label>Kindred & Class</label>
  <input name="dw.meta.kindredClass" value="{{dw.meta.kindredClass}}" />
</div>

<div class="dw-field">
  <label>Background</label>
  <input name="dw.meta.background" value="{{dw.meta.background}}" />
</div>
<div class="dw-field">
  <label>Alignment</label>
  <input name="dw.meta.alignment" value="{{dw.meta.alignment}}" />
</div>
<div class="dw-field">
  <label>Affiliation</label>
  <input name="dw.meta.affiliation" value="{{dw.meta.affiliation}}" />
</div>
<div class="dw-field">
  <label>Moon Sign</label>
  <input name="dw.meta.moonSign" value="{{dw.meta.moonSign}}" />
</div>