<div class="dw-grid-4">
  <div class="dw-field">
    <label>{{localize "DOLMENWOOD.UI.XP"}}</label>
    <input type="number" name="dw.meta.xp" value="{{ctx.dw.meta.xp}}" />
  </div>
  <div class="dw-field">
    <label>{{localize "DOLMENWOOD.UI.Level"}}</label>
    <input type="number" name="dw.meta.level" value="{{ctx.dw.meta.level}}" />
  </div>
  <div class="dw-field">
    <label>{{localize "DOLMENWOOD.UI.NextLevel"}}</label>
    <input type="number" name="dw.meta.nextLevel" value="{{ctx.dw.meta.nextLevel}}" />
  </div>
  <div class="dw-field">
    <label>{{localize "DOLMENWOOD.UI.Modifier"}}</label>
    <input type="number" name="dw.meta.modifier" value="{{ctx.dw.meta.modifier}}" />
  </div>
</div>
